<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div>
        <H1>Participar de uma sessão</H1>
        <form action="" method="post">
            <input type="text" name="session_id" placeholder="ID da sessão" required>
            <button type="submit">Entrar</button>
        </form>
    </div>
    <div>
        <H1>Criar uma sessão</H1>
        <a href="/criarsessão"><button type="button">Criar</button></a>
    </div>
</body>
</html>