<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>criar NPC</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <main>
        <h1>Criar NPC</h1>
        <form action="/api/criarpersonagem" method="post">
            <div>
                <label for="name">Nome:</label>
                <input type="text" name="name" id="name-personagem">
            </div>
            <div>
                <label for="race">Raça:</label>
                <input type="text" name="race" id="race-personagem">
            </div>
            <div>
                <label for="classe">Classe:</label>
                <input type="text" name="classe" id="classe-personagem">
            </div>
            <div>
                <label for="força">Força:</label>
                <input type="text" name="força" id="força-personagem">
            </div>
            <div>
                <label for="destreza">Destreza:</label>
                <input type="text" name="destreza" id="destreza-personagem">
            </div>
            <div>
                <label for="constituição">Constituição:</label>
                <input type="text" name="constituição" id="constituição-personagem">
            </div>
            <div>
                <label for="inteligencia">Inteligencia:</label>
                <input type="text" name="inteligencia" id="inteligencia-personagem">
            </div>
            <div>
                <label for="sabedoria">sabedoria:</label>
                <input type="text" name="sabedoria" id="sabedoria-personagem">
            </div>
            <div>
                <label for="carisma">Carisma:</label>
                <input type="text" name="carisma" id="carisma-personagem">
            </div>
            <div>
                <label for="background">Background:</label>
                <input type="text" name="background" id="background-personagem">
            </div>
            <div>
                <label for="inventario">Inventario:</label>
                <input type="text" name="inventario" id="inventario-personagem">
            </div>
            <div>
                <label for="habilidade">Habilidades:</label>
                <input type="text" name="habilidade" id="habilidade-personagem">
            </div>
            <div>
                <button type="submit">Criar</button>
            </div>
        </form>
    </main>
</body>
</html>